[package]
name = "biscuit-capi"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
biscuit-auth = { version = "4.1.1", path = "../biscuit-auth" }
