name: Release

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # - os: macos-latest-large
          #   target_arch: x86_64-apple-darwin
          - os: macos-latest
            target_arch: aarch64-apple-darwin
          - os: ubuntu-latest
            target_arch: x86_64-unknown-linux-gnu

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: ${{ matrix.target_arch }}
      - name: Install cargo-c
        run: cargo install cargo-c --version 0.10.5+cargo-0.83.0
      - name: Run cargo-c tests
        run: cargo ctest --release --features="capi"
        if: matrix.os == 'ubuntu-latest' && matrix.target_arch == 'x86_64-unknown-linux-gnu'
      - name: Build C-API
        run: cargo cinstall --release --prefix=/usr --destdir=./build --features="capi"
      - name: Compress
        run: tar cvzf biscuit_capi-${{github.ref_name}}-${{matrix.target_arch}}.tar.gz -C build/ .
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: biscuit_capi-${{github.ref_name}}-${{matrix.target_arch}}.tar.gz
